<div class="box"></div>
<div class="flexit mrg-100-u mrg-100-d">
    <div id="addf" style="border-radius: 15px;">
        
            <div class="text loc-text">
                <p>Skontaktuj się z nami</p>
                <hr class="haerka">
                <div class="cont">
                    
                        <div>
                        <p>Oddział w Opolu <br>
                        <a href="tel:+48603767271">tel: 603 767 271</a>
                        </p>
                        </div>
                        <div>
                            <p>Oddział w Prószkowie <br>
                            <a href="tel:+48603767272">tel: 603 767 272</a>
                            </p>
                        </div>
                        <div>
                            <p>Mail <br>
                            <a href="mailto:ibocian@poczta.fm">ibocian@poczta.fm</a>
                        </p>
                        </div>
                    
                </div>
            </div>
            
    </div>
    </div>