<div class="box"></div>
<div class="flexit mrg-100-u mrg-100-d">
    <div id="addf" style="border-radius: 15px;">
        
            <div class="text loc-text">
                Zapraszamy do spaceru wirtualnego
            </div>
            <div class="my-slide" style="    border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;">
            
            
            <iframe id="trzydview" src="https://www.google.com/maps/embed?pb=!4v1601913685325!6m8!1m7!1sCAoSLEFGMVFpcE9EbzZvdWp2MHpFeEpMSV9wYUNvYUZkQmJpM3FGN3ZyQ2xjQkt4!2m2!1d50.67793940731152!2d17.91621051943469!3f57.06008960329438!4f-5.187308498939046!5f0.5045763900430877"
                frameborder="0"allowfullscreen="true" aria-hidden="false" tabindex="0" ></iframe>
            </div>
    </div>
    </div>