<section>
  <!-- <nav class='navbar fixed-top navbar-dark navbar-expand-lg navbar-custom'>
    <div class='container-fluid'>
      <a class="navbar-brand" href="#"><img class="logo" src="assets/img/logofirmowemixbocian.svg" alt=""></a>
      <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav me-auto nawig navbar-center justify-content-center'>
          <li class='nav-item'><a class='nav-link' routerLink="prezentacja" >Prezentacja</a></li>
          <li class='nav-item'><a class='nav-link' routerLink="sprzet" >Sprzęt</a></li>
          <li class='nav-item'><a class='nav-link' routerLink="lokalizacja" >Lokalizacja</a></li>
          <li class='nav-item'><a class='nav-link' routerLink="spacer" >Wirtualny Spacer</a></li>
        </ul>
      </div>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-xl navbar-dark fixed-top navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img class="logo" src="assets/img/logofirmowemixbocian_min.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class='nav-link' routerLink="prezentacja" >Prezentacja</a>
          <a class='nav-link' routerLink="sprzet" >Sprzęt</a>
          <a class='nav-link' routerLink="lokalizacja" >Lokalizacja</a>
          <a class='nav-link' routerLink="spacer" >Wirtualny Spacer</a>
          <a class='nav-link' routerLink="kontakt" >Kontakt</a>
        </div>
      </div>
    </div>
  </nav>
</section>
<router-outlet></router-outlet>