.navbar-custom {
  background-image: linear-gradient(
    to bottom,
    rgba(27, 27, 27, 0.9),
    rgba(27, 27, 27, 0.8),
    rgba(27, 27, 27, 0.7),
    rgba(27, 27, 27, 0.5),
    rgba(27, 27, 27, 0.3),
    rgba(37, 37, 37, 0.01)
  );
}
.nawig li {
  font-size: xx-large;
}
ul {
  text-align: center;
}
a {
  transition-property: transform;
  transition: 0.25s ease;
}
a:hover {
  transform: scale(1.03);
  
}
a:focus {
  color: rgb(255, 255, 255) !important;
}
.nav-link{
  color: rgb(225, 225, 225, .9) !important;
}
nav{
  backdrop-filter: blur(2px);
}
@media screen and (max-width: 465px) {
.navbar-brand{
  width: 70%;
}
.logo{
  height: unset;
  width: 100%;
}

}