<section>
  <nav class="navbar navbar-expand-xl navbar-dark fixed-top navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img class="logo" src="assets/img/logofirmowemixbocian_min.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class='nav-link' routerLink="prezentacja" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">Prezentacja</a>
          <a class='nav-link' routerLink="sprzet" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">Sprzęt</a>
          <a class='nav-link' routerLink="lokalizacja" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">Lokalizacja</a>
          <a class='nav-link' routerLink="spacer" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">Wirtualny Spacer</a>
          <a class='nav-link' routerLink="kontakt" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">Kontakt</a>
        </div>
      </div>
    </div>
  </nav>
</section>
<div class="fb-drawer">
  <div class="nudge"><img src="assets/img/facebook-slider.png" alt=""></div>
  <div class="fbcont">
    <div class="fb-page" data-href="https://www.facebook.com/BocianAlnoKuchnie" data-tabs="timeline, events" loading="lazy" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BocianAlnoKuchnie" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BocianAlnoKuchnie">Studio kuchenne Mix-Bocian</a></blockquote></div>
  </div>
</div>
<router-outlet></router-outlet>